section {
  color: #643c6c;
  width: 390px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column; }

p {
  border: 6px;
  padding: 15px;
  background-color: #643c6c;
  color: #b0b7bd; }
