$violeta: #643c6c; 
$lila: #c2b4cd;
$amarillo: #ffd662;
$grisclaro: #b0b7bd;
$grisocuro: #828a8c;
$titulo: 20px;
$ancho: 780px;
section {
   color: $violeta;
   width: $ancho/2;
   padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
p {
    border: 6px;
    padding: 15px;
    background-color: $violeta;
    @if ($violeta == #643c6c) {
        color: $grisclaro;
    } @else if ($violeta != rojo) {
        color: $amarillo;
    }
}

